#help-container #help-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:100%;
    width:40%;
    margin: 20px auto;
}
#help-container .help-sub-head{
    text-align: center;
    margin: 20px;
    border-bottom:2px solid #333 ;
    padding:5px;
    width:90px;
}
#help-container .help-main-head{
    text-align: center;
    margin: 20px auto;
    border-bottom:2px solid #333 ;
    padding:5px;
    width:220px;
}
#help-container .image-container img{
    width: 450px;
    max-height: 450px;
}
#help-container .help-msg-container{
    margin: 30px;
    width: 445px;
}
#help-container .help-msg-container p{
    font-size: 13px;
}